{% extends "layout.html" %}

{% block title %}
    Sell shares
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock symbol" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" align = "left" name="shares" placeholder="Number of shares" type="number" min = 0>
        </div>
        <p class="form-group"> Stock price = <a href="/quote">Quote stock</a> </p>
        <button class="btn btn-primary" type="submit">Sell shares</button>
    </form>
{% endblock %}
