body {
	display: flex;
	flex-direction: column;
	height: 100%;
	box-sizing: border-box;
	flex-shrink: 0;
	min-height: 150px;
	max-height: 290px;
	font-family: arial, sans-serif;
	font-size: 14px;
	color: #222;
}

.heading {
  align-items: right;
  padding: 6px;
  text-align: right;
  margin-right: 100px;
  margin-top: 15px;
}

.hh {
	padding-left: 12px;
	align-items: center;
}

.space {
  overflow: hidden;
  position: absolute;
  top: 0px;
  visibility: hidden;
  width: 328px;
  z-index: 991;
  height: 0px;
  margin-top: 57px;
  right: 0px;
  margin-right:4px;
  transition: height 0.3s ease-in-out 0s;
}

.block {
  width: 642;
  height: 140;
}

.form {
	margin-left: 29px;
	margin-right: 29px;
	padding-top: 6px;
	display: block;
	width: 584;
	height: 140;
}


.bar {
  position: relative;
  margin: 0 auto;
  width: auto;
  max-width: 584px;
  padding-top: 6px;
  background: #ffff;
  display: block;
  border: 1px solid #dfe1e5;
  # cuando lo hover: box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-radius: 24px;
  z-index: 3;
  height: 20px;
    
}