.heading {
  align-items: center;
  padding: 6px;
  
}

.hh {
  padding-left: 12px;
  text-align: center;
}

.space {
  overflow: hidden;
  position: absolute;
  top: 0px;
  visibility: hidden;
  width: 328px;
  z-index: 991;
  height: 0px;
  margin-top: 57px;
  right: 0px;
  margin-right:4px;
  transition: height 0.3s ease-in-out 0s;
}
